{% extends 'base.html.twig' %}

{% block body %}
<div class="columns is-mobile is-centered">
  <div class="tile is-parent is-5 has-text-centered">
    <article class="tile is-child box">
      <p class="title">Folio #${ $store.state.lastNumberNote }</p>
      <p class="subtitle">Mesero(a) - {{ app.user.name ~ ' ' ~ app.user.firstLastName }}</p>
      <notes></notes>
    </article>
  </div>
</div>
{% endblock %}